* {
    font-family: "Poppins", sans-serif;
    padding : 0;
    margin : 0;
    vertical-align: top;
}

/* Container */

.container {
    display: flex;
    flex-direction: column;
}

/* Top */

.top-part {
    background:radial-gradient(rgb(139, 195, 245), #1294b8);
    height: 100vh;
}

/* Nav Bar */

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 4vh; */
    height: 10vh;
    /* unselectable */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.nav-title {
    color: #ffffff;
    font-size: 2rem;
}

.nav-itemlist {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    color: #ffffff;
}

.nav-item {
    /*margin: 0 1em;
    /*font-size: 1.1em;*/
    font-weight: bold;
    margin: 10px 10px;
}

.nav-networks-icons {
    display: flex;
    justify-content: space-between;
}

.nav-networks-logo {
    margin: 0 5px;
}

/* Home illustration part */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.home-left {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 0 15px;
}

.home-left-title {
    color:  #303030;
    font-size: 3.5rem;
    width: 100%;
    margin: 15px 0;
}

.home-left-text {
    color:  #444444;
    font-size: 1.1rem;
    margin: 15px 0;
    width: 85%;
}

.email-zone {
    width: 85%;
    height: 40px;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.email-input {
    width: 100%;
    /* text color */
    color: #000000;
    border: none;
    border-radius: 15px;
    padding-left: 20px;
}

.email-submit {
    border: none;
    border-radius: 15px;
    width: 125px;
    color: #ffffff;
    background-color: #15a8d0;
    margin: 3px 0 3px -125px;
    padding: 10px 0;
}

.email-submit:hover{
    cursor: pointer;
    background-color: #0e708b;
}

.home-right-illustration {
    width: 45%;
    padding: 0 15px;
    /* unselectable */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

/* Product Features Part */

.features-part {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.features-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
}

.features-title {
    color:  #303030;
    font-size: 2.3rem;
    margin: 5px 0 ;
}

.features-description {
    color:  #444444;
    font-size: 1.1rem;
    margin: 5px 0 ;
}

/* Cards part */
.features-cards-part {
    display: flex;
    justify-content: space-evenly;
}

.features-card {
    background:radial-gradient(rgb(139, 195, 245), #1294b8);
    width: 25%;
    height: 55vh;
    display: flex;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.features-card:hover {
    translate: 0px -30px;
}

.features-card-icon {
    width: 50PX;
    margin: 17px 0;
}

.features-card-title {
    font-size: 1.3rem;
    margin: 17px 0;
}

.features-card-text {
    font-size: 1.1rem;
    margin: 17px 5%;
    text-align: center;
}